body {
  background-color: #a0c2d6; /* Цвет фона */
}

#board {
  display: flex;
  justify-content: space-around;
  align-items: flex-start; /* Выравнивание по началу контейнера */
}

.column {
  width: 30%;
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  background-color: #f5f5f5;
  border-radius: 20px;
  text-align: center;
}

.card {
  background-color: rgb(177, 216, 222);
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 20px;
  cursor: grab; /* Курсор для карточки */
  transition: background-color 0.3s; /* Плавный переход для фона */
}

.card:hover {
  background-color: rgb(160, 200, 210); /* Цвет фона при наведении */
}

.card:hover .delete-btn {
  visibility: visible; /* Показываем кнопку удаления при наведении */
}

.delete-btn {
  visibility: hidden; /* Скрываем кнопку удаления по умолчанию */
  float: right; /* Позиционируем кнопку справа */
  cursor: pointer; /* Указатель для кнопки */
}

.addCardBtn {
  margin-top: 10px;
  background-color: #69d152; /* Цвет фона для кнопки добавления */
  color: white; /* Цвет текста */
  border: none; /* Убираем рамку */
  border-radius: 20px; /* Скругление углов */
  padding: 5px; /* Внутренний отступ */
  cursor: pointer; /* Указатель для кнопки */
}

.cardInput {
  width: calc(100% - 20px); /* Учитываем внутренние отступы, чтобы избежать выхода за пределы */
  padding: 10px; /* Внутренний отступ */
  border: 1px solid #ccc; /* Рамка */
  border-radius: 5px; /* Скругление углов */
  font-size: 12px; /* Размер шрифта */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Легкая тень */
  transition:
    border-color 0.3s,
    box-shadow 0.3s; /* Плавные переходы */
  box-sizing: border-box; /* Учитываем рамку и внутренние отступы в ширине */
}

.cardInput:focus {
  border-color: #0079bf; /* Цвет рамки при фокусе */
  box-shadow: 0 0 5px rgba(0, 121, 191, 0.5); /* Тень при фокусе */
  outline: none; /* Убираем стандартную обводку */
}

.cardInput::placeholder {
  color: #aaa; /* Цвет плейсхолдера */
  opacity: 1; /* Полная непрозрачность */
}

.cardInput:disabled {
  background-color: #f5f5f5; /* Цвет фона для отключенного состояния */
  border-color: #ddd; /* Цвет рамки для отключенного состояния */
  cursor: not-allowed; /* Указатель "не разрешено" */
}
